.searchbar {
  padding: 0.8rem 1.2rem;
  border-radius: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  min-width: 30%;
  background-color: rgba(128, 134, 139, 0.2);
  transition: all 0.3s ease;
}

.search {
  background: transparent;
  outline: 0;
  border-width: 0;
  color: #fdfdfd;
  width: 100%;

  font-size: 1rem;
  transition: all 0.3s ease;
}

.search:focus {
  outline: 0;
}

.search:focus ~ .search_icon {
  filter: brightness(10);
}

.search_icon {
  filter: brightness(2.5);
  transition: all 0.3s ease;
  cursor: pointer;
}

.arrow {
  display: none;
}

@keyframes fadeInOut {
  0% {
    transform: scaleX(0);
    display: none;
  }

  50% {
    transform: scaleX(0.5);
    display: block;
  }

  100% {
    transform: scaleX(1);
    display: block;
  }
}

@media only screen and (max-width: 768px) {
  .searchbar {
    padding: 0.8rem;
    min-width: 1.5rem;
    background-color: #333;
    position: relative;
    transition: all 0.3s ease;
  }

  .search {
    /* transform: scaleX(0); */
    width: 0;
    display: none;
    font-size: 1rem;
    transition: all 0.3s ease-in-out;
    animation: fadeInOut 0.3 ease-in-out;
  }

  .search:focus {
    outline: 0;
  }

  .search:focus ~ .search_icon {
    filter: brightness(10);
  }

  .search_icon {
    filter: brightness(2.5);
    transition: all 0.3s ease;
    cursor: pointer;
  }

  .active_search {
    width: auto;
  }

  .expanded {
    padding: 0.8rem;
    position: absolute;
    left: 0;
    min-width: calc(100% - 1.5rem);
    z-index: 1;
  }

  .expanded .search {
    width: 100%;
    /* transform: scaleX(1); */
    transition: all 0.3s ease-in-out;
    display: block;
  }

  .expanded > .arrow {
    display: block;
  }
}
